* {
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

body {
  background-color: var(--color-0);
  box-sizing: border-box;
  padding: 20px;
  font-family: var(--font-principal);
  height: 100vh;
  display: flex;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
}

.content {
  margin: auto;
  width: 800px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: var(--color-1);
  box-shadow: 0 5px 5px var(--color-3);
}

.dark-mode body {
  background-color: var(--color-5);
}

.dark-mode .content {
  box-shadow: 0 5px 5px var(--color-3);
}

#search:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
